<h3 class="text-center"><%= @user.email %></h3>
<br />
<%= render'shared/feed_subscribe' %>

<% if @user.podcasts.any? %>
  <h2 class="text-center">Subscriptions</h2>
  <% @user.podcasts.sort_by { |podcast| get_feed(podcast).title.sub(/^(the|a|an)\s+/i, '') }.each do |podcast| %>
    <%= render podcast %>
  <% end %>
<% end %>