<h3 class="text-center"><%= @user.email %></h3>
<br />
<%= render'podcasts/feed_subscribe' %>

<% if @user.podcasts.any? %>
  <h2 class="text-center">Subscriptions</h2>
  <% @user.podcasts.each do |userPodcast| %>
    <% podcast = Feedjira::Feed.fetch_and_parse userPodcast.feed_url %>
    <p class="text-center">
      <%= link_to podcast.title, userPodcast %>
      <%= link_to userPodcast, method: :delete, data: { confirm: "Unsubscribe?" }, title: podcast.title do %>
        <button type="button" class="close" aria-hidden="true">&times;</button>
      <% end %>
    </p>
  <% end %>
<% end %>