<h3 class="text-center"><%= episode.title %></h3>
<%= render partial: 'episodes/episode_media', locals: { episode: episode} %>
<br />
<%= render partial: 'episodes/episode_description', locals: { episode: episode} %>