<% if user_signed_in? %>
  <h1 class="text-center">Hey look, you're signed in!</h1>
  <h3 class="text-center text-muted">Here's the latest episodes from your subscribed podcasts.</h3>
  <br />
  <div class="row">
    <%= render partial: 'episodes/episode_player' %>
    <%= render partial: 'episodes/episode_description' %>
    <%= render partial: 'episodes/episode_playlist', locals: { episode_list: @episode_list } %>
  </div>
<% else %>
  <h2 class="text-center">Welcome to Podweb</h2>
  <br />
  <h4 class="text-center">Podweb is in the extremely early stages of development to become a browser-based podcast manager.</h4>
<% end %>