@import "bootstrap";

$footerHeight: 60px;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footerHeight;
}

main {
  @extend .container;
  background-color: initial;
  width: initial;
}

nav.navbar {
  background-color: $gray-dark;
}

img {
  @extend .img-responsive;
  margin: 0 auto;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footerHeight;
  background-color: $gray-lighter;
  .container .text-muted {
    margin: ($footerHeight / 3) 0;
  }
}