@import "bootstrap";

$footerHeight: 60px;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footerHeight;
}

nav.navbar {
  background-color: $gray-dark;
  .gplus-signin {
    height: 50px;
    margin-top: -15px;
    margin-bottom: -15px;
  }
}

img {
  @extend .img-responsive;
  margin: 0 auto;
}

a {
  .well {
    color: $gray-dark;
  }
  &:hover {
    color: $gray-dark;
    text-decoration: none;
  }
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footerHeight;
  background-color: $gray-lighter;
  .container .text-muted {
    margin: ($footerHeight / 3) 0;
  }
}