$table-bg-active: lighten(#000, 85%);

@import "bootstrap";

$footerHeight: 60px;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: $footerHeight;
}

nav.navbar {
  background-color: $gray-dark;
  .gplus-signin {
    width: 89px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: image-url("gplus_signin.png");
  }
}

img {
  @extend .img-responsive;
  margin: 0 auto;
}

audio {
  width: 100%;
}

video {
  width: 100%;
  height: 100%;
}

a {
  .well {
    color: $gray-dark;
  }
  &:hover {
    color: $gray-dark;
    text-decoration: none;
    cursor: pointer;
  }
}
#media-playlist {
  tr {
    &:hover {
      cursor: pointer;
    }
    td.podcast-title {
      width: 25%;
    }
  }
}

.pagination-holder {
  @extend .center-block;
  @extend .text-center;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footerHeight;
  background-color: $gray-lighter;
  .container .text-muted {
    margin: ($footerHeight / 3) 0;
  }
}