<% feed = Feedjira::Feed.fetch_and_parse podcast.feed_url %>
<div class="row">
  <div class="col-xs-4 col-xs-offset-4">
    <% if user_signed_in? && current_user.podcasts.include?(podcast) %>
      <%= link_to podcast, method: :delete, data: { confirm: "Unsubscribe?" }, title: "Unsubscribe" do %>
        <button type="button" class="close" aria-hidden="true">&times;</button>
      <% end %>
    <% end %>
    <h4><%= link_to feed.title, podcast %></h4>
    <p class="text-muted"><strong>Latest Episode</strong>&nbsp;<%= feed.entries.first.title %></p>
  </div>
</div>