<div class="row">
  <div class="col-xs-12">
    <h2 class="text-center"><%= @podcast.title %></h2>
    <br />
    <div class="row">
      <%= render @episodes %>
    </div>
    <div class="pagination-holder"><%= will_paginate @episodes %></div>
  </div>
</div>