<div class="row">
  <div class="col-xs-12">
    <h2 class="text-center"><%= @podcast.title %></h2>
    <br />
    <div class="row">
      <%= render partial: 'episodes/episode_player' %>
      <%= render partial: 'episodes/episode_description' %>
      <%= render partial: 'episodes/episode_playlist', locals: { episode_list: @episodes } %>
    </div>
  </div>
</div>